/* https://coolors.co/386641-6a994e-a7c957-f2e8cf-bc4749 - Color Palette */

html{
	font-size:62.5%; 
	box-sizing: border-box;
}

body{
	margin: 0;
	height: 100vh;
	font-size: 1.6rem;
	font-family:  Helvetica, Arial, sans-serif;
}

/* Layout */ 

.grid-container {
	display: grid;
	grid-template-areas: 
	"header"
	"main"
	"footer";
	grid-template-columns: 1fr;
	grid-template-rows: 5rem 1fr 5rem;
	height: 100%;
}

header {
	grid-area: header;
	background-color: rgb(56, 102, 65); 
}

main {
	grid-area: main;
	padding: 1rem;
}

footer {
	grid-area: footer;
	background-color: rgb(56, 102, 65) ;
	color: white;
}

/*Common Classes*/

h1 {
	font-size: 1.8rem;
	padding: 1 rem 0;
}

h2 {
	font-size: 1.6rem;
	padding: 1 rem 0;
}

a{
	text-decoration: none;
}

a:hover {
	color: rgb(188, 71, 73);
}

/*Header*/

header a{

	color:white;
	padding: 1rem;
}
a.brand {
	color: white;
	font-size: 3rem;
	font-weight: bold;
}

.row {
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.row.center {
	justify-content: center;
}

/*Image*/

img {
	
	border-radius: 0.5rem;
}

img.medium {
	max-width: 29rem;
	width: 100%;
}

/*Card*/

.card{
	border: 0.1 rem #c0c0c0 solid;
	background-color: #f8f8f8;
	border-radius: 0.5rem;
	margin: 1rem;
}

.card-body{
	padding: 1 rem;
}

.card-body > *{
	margin-bottom: 0.5rem;
}

.price {
	font-size: 2rem;

}

/*Rating*/

.rating span {
	color: rgb(167, 201, 87);
}